* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}
h2 {
  text-align: center;
  margin: 15px;
  color: #666;
}
.container {
  color: tomato;
  width: 500px;
  text-align: center;
  margin: auto;
}

.head_Nav_menu {
  padding: 20px 0px;
  border: 1px solid #666;
  background-color: aquamarine;
  margin: 1px;
}
.content {
  padding: 100px 10px 100px 10px;
  border: 1px solid #666;
  background-color: aliceblue;
  width: 100px;
}

#main_content {
  padding: 100px 25px 100px 25px;
  border: 1px solid #666;
  background-color: blanchedalmond;
  width: 300px;
}

#cmc {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}
